.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .text-section {
    flex: 1;
  }
  
  .image-section {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  
  .image-section img {
    max-width: 50%;
    height: auto;
  }
  
  .icons {
    display: flex;
    gap: 5px; /* Adjust the space between icons */
  }
  
  .no-margin-top {
    margin-top: 0 !important;
}
